:root{
	--primary: #FFD400;
	--secondary: #FFE97F;
}

body{
	background-color: #f2f2f2;
}

#big_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 95vh;
	width: 100%;
	margin: 0 auto;
}

#smaller_container{
	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	width: 45em;
	height: 40em;

	background-color: pink;
}

#predict{
	background: var(--primary);
	border: 2.75px solid var(--primary);
}

#predict:hover,
#predict:active{
	color: var(--primary);
	background-color: initial;
	background-position: 0 0;
}

#reset{
	background: var(--secondary);
	border: 2.75px solid var(--secondary);
}

#reset:hover,
#reset:active{
	color: var(--secondary);
	background-color: initial;
	background-position: 0 0;
}

button {
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
}

button:active {
  opacity: .5;
}


.mhofu{
	display: flex;
	flex-direction: row;
}

label {
	display: inline-flex;

}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

h1, h2{
	color:#121212;
	line-height: 1;

}

.text-input{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}

label, input {
	vertical-align: middle;
  } 

.text-input > input{
	width: 150px;
	border: #121212 solid .15em;
	height: 1.5em;
}

.bhathanz{
	display: flex;
	flex-direction: row;
	
	justify-content: space-evenly;
}

.poison-ngife{
	border-style: solid;
	border-radius: .2em;
	border-width: .2em;

	padding: 1em;
	margin: 0.5em;

	border-color:121212;
}

#big-mhofu{
	background-color: blue;
	padding: 1.0em;
}